<!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=hJcPE02ytFLLfQw12PpMhtlw9DF5Kxqxj6rT7mjGCxc"></script> -->
<!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=5e9ee5&w=300&t=tt&d=hJcPE02ytFLLfQw12PpMhtlw9DF5Kxqxj6rT7mjGCxc&co=ffffff&cmo=27b75f&cmn=56d186&ct=2467b2'></script> -->
<!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=hJcPE02ytFLLfQw12PpMhtlw9DF5Kxqxj6rT7mjGCxc"></script> -->
<!-- <div style="text-align: center;">
    <a href="https://hits.seeyoufarm.com">
        <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Flpwpower.github.io&count_bg=%2379C83D&title_bg=%234F87EF&icon=furrynetwork.svg&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
    </a>
</div> -->
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=333533&w=299&t=m&d=hJcPE02ytFLLfQw12PpMhtlw9DF5Kxqxj6rT7mjGCxc&co=ffffff&cmo=265caa&cmn=4f93f4&ct=808080'></script>